.box{
	width: 100%;
	position: relative;
	/*border: 1px solid black;*/
}
.box>.box_box{
	width: 100%;
	height: 23rem;
	/*border: 1px solid black;*/
	background: url(../img/juxinhg67-2.jpg) no-repeat;
	background-size: 100%;
}
.box_box>p{
	width: 100%;
	height: 2.3rem;
	/*border: 1px solid black;*/
}
.box_box>.top{
	width: 100%;
	/*border: 1px solid black;*/
	margin: 0 auto;
}
.box_box>.top>ul{
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
	
}
.box_box>.top>ul>li:nth-child(1)>a>img{
	width: 1.2rem;
	padding-left: 1rem;
}
.box_box>.top>ul>li:nth-child(2){
	/*width: 28.9rem;
	border: 1px solid black;*/
	padding-left: 1.8rem;
}
.box_box>.top>ul>li:nth-child(2)>input{
	width: 26rem;
	height: 3.3rem;
	padding-left: 3rem;
	background: rgba(220,216,213,0.8);
	border-radius: 5rem;
	font-size: 1.3rem;
	font-weight: 900;
	/*border: 0rem solid black;*/
}
.box_box>.top>ul>li:nth-child(2)>span{
	position: absolute;
	left: 5.5rem;
	top: 1rem;
}
.box_box>.top>ul>li:nth-child(3){
	align-self: flex-start;
}
.box_box>.top>ul>li:nth-child(3)>img{
	width: 2.3rem;
	margin-right: 0.5rem;
}
.box_box>.one{
	width: 94%;
	height: 7.8rem;
	/*border: 1px solid black;*/
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.box_box>.one>.left>li:nth-child(1)>img{
	width: 3.6rem;
}
.box_box>.one>.zhong{
	width: 23.5rem;
	/*border: 1px solid black;*/
}
.box_box>.one>.zhong>li:nth-child(1){
	font-size: 1.5rem;
	color: white;
}
.box_box>.one>.zhong>li:nth-child(2)>span:nth-child(1){
	display: inline-block;
	width: 5.3rem;
	height: 1.5rem;
	background: #14ECAC;
	text-align: center;
	line-height: 1.5rem;
	border-radius: 5rem;
	color: white;
}
.box_box>.one>.zhong>li:nth-child(2)>span:nth-child(2){
	color: white;
	margin-left: 0.5rem;
}
.box_box>.one>.right{
	width: 6.5rem;
	height: 3.1rem;
	line-height: 3.1rem;
	text-align: center;
	/*border: 1px solid black;*/
	color: white;
	font-size: 1.6rem;
	background: #14ECAC;
	border-radius: 1rem;
}
.box_box>.two{
	width: 85%;
	/*border: 1px solid black;*/
	margin: 0 auto;
	margin-top: 0.2rem;
}
.dian2>.xian{
	display: none;
}
.box_box>.two>ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5rem;
	color: white;
	font-weight: 600;
}
.box_box>.two>ul>li{
	padding-bottom: 0.3rem;
}
.box_box>.two>ul>li>a{
	color: white;
}
.box_box>.two>ul>li:hover{
	border-bottom: 0.2rem solid white;
}
.zong{
	width: 100%;
	background-color: white;
	margin-top: 1rem;
	padding-top: 1.5rem;
}
.tuwen{
	width: 92%;
	/*height: 50rem;*/
	margin-left: 4%;
	border-radius: 0.5rem;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.44);
}
.tuwen>div{
	width: 93%;
	padding-top: 1rem;
	margin-left: 3%;
}
.tuwen>div>p:nth-child(1){
	font-size: 1.4rem;
	color: rgb(133,133,133);
}
.tuwen>div>.wen{
	margin-top: 1rem;
	font-size: 1.6rem;
	height: 7.2rem;
	/*border: 1px solid black;*/
	overflow: hidden;
}
.tuwen>div>.wen>span{
	color: rgb(47,215,166);
}
.tuwen>div>.wen>p{
	display: inline;
}
.tuwen>div>.wen>p>span{
	color: rgb(47,215,166);
}
.tuwen .tu{
	height: 17.5rem;
	margin-top: 1rem;
	padding-top: 1rem;
	background: url(../img/juzhi8.png.png)no-repeat;
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
}
.tuwen .tu>p{
	width: 92%;
	text-align: end;
	font-size:1.4rem ;
}
.tuwen .tu>p>span{
	display: inline-block;
	width: 0.8rem;
}
.tuwen .tu>p>span>img{
	width: 100%;
}
.tuwen .tu>h2{
	width: 95%;
	margin-left: 5%;
	margin-top: 8.5rem;
	font-size: 1.6rem;
	opacity: 0.7;
}
.tuwen .zhuanfa{
	width: 100%;
	display: flex;
	margin-top: 1rem;
	border-top: 1px solid rgb(0,0,0,0.1);
	padding-top: 1rem;
	padding-bottom:1rem ;
	justify-content: space-between;
}
.zhuanfa>p{
	font-size: 1.4rem;
}
.zhuanfa>p>span{
	display: inline-block;
	width: 2rem;
	margin-right: 0.5rem;
}
.zhuanfa>p>span>img{
	width:100% ;
}
.bottom{
	width: 100%;
	height: 4.7rem;
	/*border: 1px solid black;*/
	display: flex;
	border-top: 1px solid lightgray;
	position: fixed;
	bottom: 0rem;
	background: white;
	/*align-items: center;*/
}
.bottom>ul{
	width: 100%;
	align-items: center;
	display: flex;
	/*justify-content: space-around;*/
	
}
.bottom>ul>li:nth-child(1){
	font-size: 1.7rem;
	width: 12.7rem;
	height: 2.6rem;
	border-right: 1px solid lightgray;
	padding-left: 4rem;
}
.bottom>ul>li:nth-child(1)>img{
	width: 1.9rem;
	padding-right: 0.6rem;
}
.bottom>ul>li:nth-child(2){
	font-size: 1.7rem;
	width: 11rem;
	height: 2.6rem;
	border-right: 1px solid lightgray;
	padding-left: 4rem;
}
.bottom>ul>li:nth-child(3){
	width: 5rem;
	/*border: 1px solid black;*/
	text-align: center;
}
.bottom>ul>li:nth-child(3)>P:nth-child(2){
	color: #14ECAC;
}
